body {
    font-family: system-ui;
    background: wheat;
    color: rgb(8, 8, 8);
    text-align: center;
  }
  img {
    width: 225px;
    height: 225px;
    border-radius: 6%;
    position: absolute;
    top: 50px;
    left: 30px;
  }
  .circulo1 {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  h1 {
    color: black;
    text-align: center;
  }
  h2 {
    color: cornflowerblue;
    text-align: center;
  }
  p {
    color: black;
    font-size: 100%;
    text-align: left;
    text-align: justify;
  }
  /* Me da toc que los radios esquineros de este rectangulo no sean simetricos xDDDD*/
  .cuadrado1 {
    width: 680px;
    height: 222px;
    background: white;
    border-radius: 6%;
    position: relative;
    left: 275px;
    top: 50px;
    box-shadow: 2px 2px 5px 1px gray;
  }
  .title {
    width: 600px;
    height: 180px;
    position: absolute;
    left: 50px;
    top: -5px;
  }
  .nombre{
    text-align: left;
  }
  .habilidad{
    position: absolute;
    text-align: left;
    top: 42px;
  }
  .descripcion{
    position: absolute;
    top: 100px;
  }
  .rectangulo {
    width: 520px;
    height: 350px;
    background: white;
    border-radius: 6%;
    position: relative;
    top: 75px;
    left: 23px;
    box-shadow: 2px 2px 5px 1px gray;
  }
  .cuadrado3 {
    width: 450px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 80px;
  }
  .verticle-line {
    width: 5px;
    height: 200px;
    border-radius: 6%;
    background-color: cornflowerblue;
    position: absolute;
    top: 100px;
    left: 55px;
  }
  .folio{
    width: 1000px;
    height: 1200px;
    position: absolute;
    top: 50px;
    left: 80px;
    background-color: white;
  }
  .Experience{
    font-size: 20px;
    position: relative;
    text-align: left;
    color: cornflowerblue;
    top: 30px;
    left: 55px;
 }
 .rectanguloeducation{
  width: 380px;
  height: 350px;
  background-color: white;
  border-radius: 6%;
  position: absolute;
  top: 320px;
  left: 575px;
  box-shadow: 2px 2px 5px 1px gray;
}
.Education{
  font-size:20px;
  position: relative;
  text-align: left;
  color: cornflowerblue;
  top: 0px;
  left: 55px;

}
.cuadradoeducation{
  position: relative;
  top: 30px;
  left: 75px;
}
.button{
  width: 300px;
  height: 50px;
  background-color: rgb(231, 230, 227);
  border-radius: 6%;
  position: relative;
  top: 50px;
  left: 60px;
}
.textoUNI{
  font-weight: bold;
  font-size: 15px;
  padding-top: 15px;
  padding-left: 10px;
}

.rectanguloPS {
  width: 520px;
  height: 320px;
  background: white;
  border-radius: 6%;
  position: relative;
  top: 135px;
  left: 23px;
  box-shadow: 2px 2px 5px 1px gray;
}

.circulo2{
  position: absolute;
  width: 400px;
  height: 300px;
  left: 800px;
  top: 1000px;
  background-color: thistle;
}

